## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
len(application_df)

34299

In [3]:
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
drop_df = application_df.drop(columns=["EIN"])
drop_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
drop_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
cutoff = drop_df["APPLICATION_TYPE"].value_counts()
cutoff

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = cutoff.loc[cutoff<500].index
# Replace in dataframe
for app in application_types_to_replace:
    drop_df['APPLICATION_TYPE'] = drop_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
drop_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
cutoff2 = drop_df["CLASSIFICATION"].value_counts()
cutoff2

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
cutoff2.loc[cutoff2>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = cutoff2.loc[cutoff2<1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    drop_df['CLASSIFICATION'] = drop_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
drop_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
cutoff3 = drop_df["NAME"].value_counts()
cutoff3

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [16]:
cutoff3.loc[cutoff3 > 50]

PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
HONOR SOCIETY OF PHI KAPPA PHI                                         107
MONTANA 4-H FOUNDATION INC                                             107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
AIR FORCE ASSOCIATION                                                   99
WORKERS UNITED                                                          97
GAMMA THETA UPSILON                                                     92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                              91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                 87
ROTARY INTERNATIONAL                                                    84
CALIFORNIA GARDEN CLUBS INC                                             76
SWEET ADELINES INTERNATIONAL                                            73
DISABLED AMERICAN VETERANS                                              73
KLEIN SUPPORT GROUPS INC                                                69
CLEARCREEK I S D SUPPORT GROUPS                                         60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                58
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC          57
CISD EDUCATIONAL SUPPORT GROUPS INC                                     57
SONS OF CONFEDERATE VETERANS INC                                        56
SLOW FOOD USA INC                                                       55
NATIONAL YOUNG MENS SERVICE LEAGUE                                      54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                             52
LAMBDA THETA ALPHA                                                      52
Name: NAME, dtype: int64

In [18]:
classifications_to_replace2 = cutoff3.loc[cutoff3 < 50].index

# Replace in dataframe
for cls in classifications_to_replace2:
    drop_df['NAME'] = drop_df['NAME'].replace(cls,"Other")
    
# Check to make sure binning was successful
drop_df['NAME'].value_counts()

Other                                                                 24545
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
MONTANA 4-H FOUNDATION INC                                              107
HONOR SOCIETY OF PHI KAPPA PHI                                          107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
AIR FORCE ASSOCIATION                                                    99
WORKERS UNITED                                                           97
GAMMA THETA UPSILON                                                      92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                               91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                  87
ROTARY INTERNATIONAL                                                     84
CALIFORNIA GARDEN CLUBS INC                                              76
SWEET ADELINES INTERNATIONAL                                             73
DISABLED AMERICAN VETERANS                                               73
KLEIN SUPPORT GROUPS INC                                                 69
CLEARCREEK I S D SUPPORT GROUPS                                          60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                 58
CISD EDUCATIONAL SUPPORT GROUPS INC                                      57
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC           57
SONS OF CONFEDERATE VETERANS INC                                         56
SLOW FOOD USA INC                                                        55
NATIONAL YOUNG MENS SERVICE LEAGUE                                       54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                              52
LAMBDA THETA ALPHA                                                       52
UNITED FEDERATION OF DOLL CLUBS INC                                      50
UNIVERSITY OF FLORIDA                                                    50
Name: NAME, dtype: int64

In [19]:
# Convert categorical data to numeric with `pd.get_dummies`
drop_df = pd.get_dummies(drop_df)

In [20]:
drop_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CALIFORNIA GARDEN CLUBS INC,NAME_CISD EDUCATIONAL SUPPORT GROUPS INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [21]:
# Split our preprocessed data into our features and target arrays
y = drop_df.IS_SUCCESSFUL.values
X = drop_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80 
hidden_nodes_layer2 = 50  

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                7680

 dense_1 (Dense)             (None, 50)                4050

 dense_2 (Dense)             (None, 1)                 51

=================================================================
Total params: 11781 (46.02 KB)
Trainable params: 11781 (46.02 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 7s 5ms/step - loss: 0.5022 - accuracy: 0.7499
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4808 - accuracy: 0.7637
Epoch 3/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4777 - accuracy: 0.7666
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4758 - accuracy: 0.7669
Epoch 5/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4733 - accuracy: 0.7687
Epoch 6/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4728 - accuracy: 0.7695
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4715 - accuracy: 0.7686
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4712 - accuracy: 0.7704
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4699 - accuracy: 0.7701
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4701 - accuracy: 0.7690
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4695 - accuracy: 0.7708
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4691 - accuracy: 0.7700
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4682 - accuracy: 0.7706
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4679 - accuracy: 0.7712
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4678 - accuracy: 0.7707
Epoch 16/100
804/804 [==============================] - 4s 6ms/step - loss: 0.4675 - accuracy: 0.7708
Epoch 17/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4675 - accuracy: 0.7717
Epoch 18/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4668 - accuracy: 0.7718
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4668 - accuracy: 0.7721
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4663 - accuracy: 0.7713
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4660 - accuracy: 0.7716
Epoch 22/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4657 - accuracy: 0.7716
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4657 - accuracy: 0.7719
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4650 - accuracy: 0.7726
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4652 - accuracy: 0.7725
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4643 - accuracy: 0.7719
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4646 - accuracy: 0.7725
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4643 - accuracy: 0.7731
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4641 - accuracy: 0.7734
Epoch 30/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4639 - accuracy: 0.7725
Epoch 31/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4633 - accuracy: 0.7730
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4636 - accuracy: 0.7747
Epoch 33/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4634 - accuracy: 0.7742
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4636 - accuracy: 0.7732
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4630 - accuracy: 0.7746
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4627 - accuracy: 0.7739
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4626 - accuracy: 0.7744
Epoch 38/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4621 - accuracy: 0.7734
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4625 - accuracy: 0.7739
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4623 - accuracy: 0.7732
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4618 - accuracy: 0.7737
Epoch 42/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4620 - accuracy: 0.7741
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4621 - accuracy: 0.7734
Epoch 44/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4616 - accuracy: 0.7744
Epoch 45/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4614 - accuracy: 0.7746
Epoch 46/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4613 - accuracy: 0.7739
Epoch 47/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4613 - accuracy: 0.7750
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4610 - accuracy: 0.7743
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4613 - accuracy: 0.7740
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4607 - accuracy: 0.7748
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4609 - accuracy: 0.7744
Epoch 52/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4603 - accuracy: 0.7742
Epoch 53/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4609 - accuracy: 0.7747
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4604 - accuracy: 0.7751
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4603 - accuracy: 0.7754
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4600 - accuracy: 0.7748
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4600 - accuracy: 0.7746
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4599 - accuracy: 0.7748
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4598 - accuracy: 0.7750
Epoch 60/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4596 - accuracy: 0.7760
Epoch 61/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4596 - accuracy: 0.7748
Epoch 62/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4596 - accuracy: 0.7745
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4593 - accuracy: 0.7754
Epoch 64/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4593 - accuracy: 0.7747
Epoch 65/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4590 - accuracy: 0.7761
Epoch 66/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4592 - accuracy: 0.7756
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4594 - accuracy: 0.7748
Epoch 68/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4591 - accuracy: 0.7755
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4589 - accuracy: 0.7743
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4600 - accuracy: 0.7745
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4583 - accuracy: 0.7767
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4584 - accuracy: 0.7747
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4585 - accuracy: 0.7757
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4588 - accuracy: 0.7755
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4585 - accuracy: 0.7745
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4589 - accuracy: 0.7754
Epoch 77/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4581 - accuracy: 0.7753
Epoch 78/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4584 - accuracy: 0.7759
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4582 - accuracy: 0.7751
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4582 - accuracy: 0.7748
Epoch 81/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4581 - accuracy: 0.7753
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4583 - accuracy: 0.7757
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4576 - accuracy: 0.7755
Epoch 84/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4582 - accuracy: 0.7759
Epoch 85/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4581 - accuracy: 0.7758
Epoch 86/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4576 - accuracy: 0.7745
Epoch 87/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4582 - accuracy: 0.7751
Epoch 88/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4578 - accuracy: 0.7756
Epoch 89/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4574 - accuracy: 0.7757
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4575 - accuracy: 0.7759
Epoch 91/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4572 - accuracy: 0.7754
Epoch 92/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4580 - accuracy: 0.7759
Epoch 93/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4575 - accuracy: 0.7756
Epoch 94/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4575 - accuracy: 0.7755
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4573 - accuracy: 0.7757
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4574 - accuracy: 0.7757
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4574 - accuracy: 0.7756
Epoch 98/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4572 - accuracy: 0.7759
Epoch 99/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4573 - accuracy: 0.7773
Epoch 100/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4574 - accuracy: 0.7754

In [27]:
type(fit_model)

keras.src.callbacks.History

In [28]:
fit_model.history

{'loss': [0.5021696090698242,
  0.48078274726867676,
  0.4777061343193054,
  0.4758000373840332,
  0.4733373820781708,
  0.4728185832500458,
  0.4715203642845154,
  0.47116023302078247,
  0.4699212312698364,
  0.47010505199432373,
  0.4694807827472687,
  0.4690670371055603,
  0.46817710995674133,
  0.46793338656425476,
  0.46777719259262085,
  0.4675484299659729,
  0.46754732728004456,
  0.4667505919933319,
  0.46680814027786255,
  0.46628811955451965,
  0.4660488963127136,
  0.46569734811782837,
  0.4656505286693573,
  0.4650246500968933,
  0.46520984172821045,
  0.4642919600009918,
  0.464622437953949,
  0.46425288915634155,
  0.4640534222126007,
  0.4638713002204895,
  0.46332690119743347,
  0.4636424481868744,
  0.46336060762405396,
  0.46355316042900085,
  0.46297046542167664,
  0.4627280533313751,
  0.46261969208717346,
  0.46211448311805725,
  0.4625031352043152,
  0.4623444378376007,
  0.4617551863193512,
  0.46198564767837524,
  0.46209025382995605,
  0.46155795454978943,
  0.46137934923171997,
  0.4612704813480377,
  0.46127164363861084,
  0.4610171914100647,
  0.46125608682632446,
  0.46074697375297546,
  0.4609382152557373,
  0.46027883887290955,
  0.46090081334114075,
  0.460440993309021,
  0.46030616760253906,
  0.45995113253593445,
  0.4600061774253845,
  0.4599200189113617,
  0.45979151129722595,
  0.4596121609210968,
  0.4596470892429352,
  0.45962435007095337,
  0.4592679738998413,
  0.4593375325202942,
  0.45900651812553406,
  0.4592265486717224,
  0.4594113528728485,
  0.4591064155101776,
  0.4588994085788727,
  0.46000194549560547,
  0.4583355188369751,
  0.4583571255207062,
  0.4585226774215698,
  0.45877909660339355,
  0.4584585428237915,
  0.45889896154403687,
  0.458149790763855,
  0.4583923816680908,
  0.45823776721954346,
  0.45819607377052307,
  0.4580920934677124,
  0.4582860469818115,
  0.45760682225227356,
  0.45816734433174133,
  0.4581153094768524,
  0.45762473344802856,
  0.458223819732666,
  0.4577862620353699,
  0.4573989510536194,
  0.45745691657066345,
  0.457222044467926,
  0.4580127000808716,
  0.45748835802078247,
  0.4575248956680298,
  0.4572816491127014,
  0.45744970440864563,
  0.4573840796947479,
  0.4571616053581238,
  0.45728421211242676,
  0.45736995339393616],
 'accuracy': [0.7499222755432129,
  0.7637225985527039,
  0.7665992975234985,
  0.7669102549552917,
  0.768698513507843,
  0.7694759964942932,
  0.7685818672180176,
  0.770447850227356,
  0.7700591087341309,
  0.7690483331680298,
  0.7707976698875427,
  0.769981324672699,
  0.7706422209739685,
  0.7712253332138062,
  0.7706810832023621,
  0.770836591720581,
  0.7717306613922119,
  0.7717695832252502,
  0.772119402885437,
  0.7712641954421997,
  0.7715752124786377,
  0.7716140747070312,
  0.7718861699104309,
  0.7726247906684875,
  0.7725081443786621,
  0.7719250321388245,
  0.7725470662117004,
  0.7730523943901062,
  0.7734022736549377,
  0.7725470662117004,
  0.7730135321617126,
  0.774724006652832,
  0.7742186188697815,
  0.7732467651367188,
  0.7746462225914001,
  0.7739076614379883,
  0.7743741273880005,
  0.7734022736549377,
  0.7739465236663818,
  0.7732079029083252,
  0.7737132906913757,
  0.7741020321846008,
  0.7734022736549377,
  0.7743741273880005,
  0.774568498134613,
  0.7739465236663818,
  0.7749572396278381,
  0.774257481098175,
  0.774024248123169,
  0.7748405933380127,
  0.774412989616394,
  0.7742186188697815,
  0.7746851444244385,
  0.7751127481460571,
  0.7754237055778503,
  0.7747628688812256,
  0.7746462225914001,
  0.7748017311096191,
  0.7749961018562317,
  0.7760457396507263,
  0.7748017311096191,
  0.7744907736778259,
  0.7754237055778503,
  0.7746851444244385,
  0.7761234641075134,
  0.7755792140960693,
  0.7748017311096191,
  0.7755014896392822,
  0.7742964029312134,
  0.7744907736778259,
  0.7766677141189575,
  0.774724006652832,
  0.7756569981575012,
  0.7754626274108887,
  0.7744907736778259,
  0.7753848433494568,
  0.7753071188926697,
  0.7759290933609009,
  0.7751127481460571,
  0.7748405933380127,
  0.7753071188926697,
  0.7756569981575012,
  0.7755014896392822,
  0.7758513689041138,
  0.7757735848426819,
  0.7744907736778259,
  0.7750738859176636,
  0.7755792140960693,
  0.7756958603858948,
  0.7758902311325073,
  0.7754237055778503,
  0.7758513689041138,
  0.7756180763244629,
  0.7754626274108887,
  0.7757347226142883,
  0.7756569981575012,
  0.7755792140960693,
  0.7759290933609009,
  0.7772508263587952,
  0.7753848433494568]}

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.4949 - accuracy: 0.7644 - 2s/epoch - 6ms/step
Loss: 0.49486514925956726, Accuracy: 0.7644314765930176

In [32]:
# Export our model to HDF5 file
#from tensorflow.keras.models import load_model

nn.save('AlphabetSoupCharity_Optimization.h5')

C:\Users\Micha\anaconda3\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(